.container {
  display: flex;
  flex-direction: column; 
  flex-wrap: nowrap;
  justify-content: space-between;


  gap:2px 10px;
  width: 600px; 
  background-color: lightgray; 
  height: 105px;
} 

.caixa{
  background-color: rgb(52, 130, 18); 
  border: 1px solid black;  
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  color: white; 
}
.item {
  order: -1;
}

.grow-item {
  flex-grow: 1;
}

.grow-item-2 {
  flex-grow: 2;
}

.shrink-item {
  flex-shrink: 0;
}


.shrink-item-2 {
  flex-shrink: 2;
}

.item-align {
  align-self: flex-end;
}
table, th, td, caption {
  border: 1px solid white;
  width: 600px;
}