
.sima{
    display: flex;
    gap: 15px;
    background: green;
    padding: 10px;
}
.topo {
    text-align: center;
    padding: 20px;
    font-style: italic;
    background: #2ca132;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: green;
    color: white;
    padding: 10px;
}
.fotos {
    display: flex;        
    flex-wrap: wrap;      
    gap: 10px;            
    justify-content: center;
}
.fotos img {
    width: 120px;
    height: 120px;
    object-fit: cover;   
    border-radius: 8px;  
}